B2_BUCKET_NAME=branchline-media-mikey-2026
B2_KEY_ID=
B2_APP_KEY=
B2_REGION=us-west
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com

GEN_PROVIDER_API_KEY=

# Google Gemini Free Tier
GEMINI_API_KEY=
